body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 20px;
  background-color: #aaf3aa;
}

.titulo {
  font-size: 36px;
  margin-bottom: 20px;
}

#guess-input {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

#guess-button,
#restart-button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

#grid {
  margin-top: 20px;
  max-width: 400px; /* Ajusta el ancho máximo según tu preferencia */
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  margin-bottom: 10px;
}

.letter {
  flex: 1;
  padding: 6px; /* Tamaño ajustado */
  margin: 0 2px;
  font-size: 14px; /* Tamaño ajustado */
  text-align: center;
  border-radius: 5px;
}


  h1.logo {
    background-image: url('Imagen_wordle.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top; /* Alineación del logo */
    padding-top: 150px; /* Espacio superior */
    padding-bottom: 5px; /* Espacio inferior */
    width: 100%; /* Ancho del logo */
    height: auto; /* Altura automática proporcional al ancho */
}